streamlit
openai
langchain==0.1.20
langchain-community==0.0.38
faiss-cpu
sympy
numpy
Pillow
python-dotenv
pandas
tiktoken

# OCR
pytesseract
easyocr

# Whisper
openai-whisper
pydub
streamlit-audiorec
